.example-spacer {
    flex: 1 1 auto;
  }

  .btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  canvas {
    border: 1px solid black;
  }

  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .toolset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }