<mat-toolbar color="primary">
  <a mat-button routerLink="/dessins">
      <mat-icon>arrow_back</mat-icon>
      Liste
  </a>
</mat-toolbar>

<div class="canvas-container">
  <form [formGroup]="dessinForm" (ngSubmit)="onSubmit()" class="dessin-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Titre du Dessin</mat-label>
      <input matInput type="text" formControlName="titre">
      <mat-error *ngIf="dessinForm.get('titre')?.errors?.['required']">
        Le titre est requis.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="dessinForm.invalid">Sauvegarder</button>
  </form>
</div>
