<p>formulaire-dessin works!</p>
<form [formGroup]="dessinForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="titre">Titre du Dessin</label>
      <input type="text" id="titre" class="form-control" formControlName="titre">
    <div *ngIf="dessinForm.get('titre')?.errors && dessinForm.get('titre')?.touched">
        <small class="text-danger" *ngIf="dessinForm.get('titre')?.errors?.['required']">Le titre est requis.</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
  </form>
  